body{
	background: rgba(251,253,254,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(251,253,254,1) 0%, rgba(165,195,217,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(251,253,254,1)), color-stop(100%, rgba(165,195,217,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(251,253,254,1) 0%, rgba(165,195,217,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(251,253,254,1) 0%, rgba(165,195,217,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(251,253,254,1) 0%, rgba(165,195,217,1) 100%);
	background: radial-gradient(ellipse at center, rgba(251,253,254,1) 0%, rgba(165,195,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#a5c3d9', GradientType=1 );
}

#contenedor{
	width: 90%;
	text-align: center;
}


#seccion{
	width: 80%;
	margin: 20px auto;
}

h4{
	font-family:  "Tahoma", "Geneva", sans-serif;
}
